.ChatWindow {
	border: solid darkgray 2px;
	margin: 0.5rem;
}
.DummyControls {
	border: solid darkgray 2px;
	margin: 0.5rem;

	.buttons {
		display: flex;
		justify-content: space-between;
		margin: 0.3rem;
	}
}
